body{
  margin:0;
  padding:0;
  font-family: ‘Quicksand’, ‘ヒラギノ角ゴシック’, ‘メイリオ’ ,sans-serif;
}

.header{
  height: 70px;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
  background: #1C1C1C;
  color: #F9F4F0;
  font-weight: bold;
  position: fixed;
  width: 100%;
  position: relative;
}

.site-width{
  margin: 5px auto;
  padding: 10px 10px;
  box-sizing: inherit;
  width: 500px;
}

.footer{
  height: 20px;
  background: #333;
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
  background: #1C1C1C;
  color: #F9F4F0;
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.site-font{
  font-size: 20px;
  color: #3C3B3A;
  margin-top: 15px;
  margin-bottom: 1px;
}

span{
  font-size: 150x;
  margin-right: 15px;

}

label{
  font-size: 20px;
}

input[type="text"]{
  width: 100%;
  background: #D9D6D2;
  border-style: none;
  height: 30px;
}

textarea{
  width: 100%;
  background: #D9D6D2;
  border-style: none;
}

input[type="submit"]{
  background: #1C1C1C;
  color: #F9F4F0;
  padding: 5px 5px;
  float: right;
  border-style: none;
  margin-top: 10px;
  height: 40px;
  weight: 80px;
  font-size: 20px;
}

input[type="radio"]{
  margin-right: 10px;
}

.end{
  height: 100px;
  width: 300px;
  color: #3C3B3A;
  position: absolute;
  top: 200px;
  left: 500px;
}
